.tag {
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;
  background-color: var(--pink);
  color: white;
  display: inline-flex;
  padding: 4px 8px;
  border-radius: 5px;

  &.liveTalk {
    background: var(--blue);
  }

  &.online {
    background: var(--limeGreen);
  }

  &.offline {
    background: var(--coral);
  }
}
