.tag {
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;
  background-color: var(--pink);
  color: white;
  display: inline-flex;
  padding: 4px 8px;
  border-radius: 5px;

  &.online,
  &.light,
  &.offline {
    font-size: 10px;
    line-height: 16px;
    color: var(--charcoal);
    padding: 2px 6px 1px;
  }

  &.online {
    background: var(--oliveMedium);
  }

  &.light {
    background: var(--oliveLight);

  }

  &.offline {
    background: var(--purple);
    color: white;
  }
}
