.discountTag {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.planCard {
  position: relative;
  z-index: 0;
}

.currentPlan::before {
  z-index: -1;
  position: absolute;
  content: "Current Pass";
  background-color: #477652;
  height: calc(100% + 24px);
  width: calc(100% + 12px);
  padding-top: 2px;
  top: -20px;
  left: -6px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
}
