div.timeBar {
  background-color: white;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, .08);
  min-height: auto;
  position: fixed;
  bottom: 0;
  width: 100%;

  .text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;


    @media screen and (max-width: 608px) {
      font-size: 16px !important;
    }
  }

  button {
    white-space: nowrap;
  }
}

