$widthThreshold: 768px;

.home {
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
}

.twoSides {
  display: flex;
  flex-direction: row;

  > * {
    max-width: 50%;
    width: 50%;
  }
}

@media screen and (max-width: #{$widthThreshold}) {

  .twoSides {
    flex-direction: column;

    > * {
      max-width: 100%;
      width: 100%;
    }
  }
}

.partners {
  text-align: center;
  margin-top: 10px;

  > div {
    display: inline-block;
    vertical-align: middle;

    > div {
      background: #FFFFFF;
      width: 174px;
      height: 174px;
      display: inline-flex;
      margin: 20px;
      vertical-align: inherit;

      // component layout specific
      @media screen and (max-width: 450px) {
        width: 132px;
        height: 132px;
      }
    }
  }

  img {
    width: 80%;
    margin: auto;
  }
}
