@import "../../style/media-query";

h1,
h2,
h3 {
  font-weight: bold;
}

h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 40px;
  line-height: 55px;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 30px;
}

h5 {
  font-size: 16px;
  line-height: 26px;
}

h6 {
  font-size: 15px;
  line-height: 25px;
}

:global {

  .body {
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (max-width: #{$tablet-portrait-width}) {

  h1 {
    font-size: 32px;
    line-height: 42px;
  }

  h2 {
    font-size: 26px;
    line-height: 36px;
  }

  h3 {
    font-size: 18px;
    line-height: 25px;
  }

  h4 {
    font-size: 18px;
    line-height: 28px;
  }

  h5 {
    font-size: 14px;
    line-height: 24px;
  }

  h6 {
    font-size: 13px;
    line-height: 23px;
  }

  :global {

    .body {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.landing {
  padding-top: var(--headerHeight);

  .container {
    overflow-y: scroll;
    max-height: calc(100vh - var(--headerHeight));
  }

  .wrapper {
    max-width: var(--maxWidth);
    min-width: 350px;
    width: 100%;
    margin: 0 auto;
  }
}
