$animationDuration: 1.5s;
$delay: .2s;
$baseDelay: 0s;
$leftDelay: $delay;
$middleLeftDelay: $leftDelay + $delay;
$middleRightDelay: $middleLeftDelay + $delay;
$rightDelay: $middleRightDelay + $delay;

.absolute {
  position: absolute;
  background-color: white;
  z-index: 3;
}

.palmAnimation {
  fill: transparent;
  stroke: black;

  svg {
    max-width: 100%;
    max-height: 100%;
  }

  path {
    stroke-width: 3px;
    stroke-dasharray: 500 1000;
    animation: fade $animationDuration linear alternate infinite;
  }

  .left {
    animation-delay: $leftDelay;
  }

  .leftMiddle {
    animation-delay: $middleLeftDelay;
  }

  .rightMiddle {
    animation-delay: $middleRightDelay;
  }

  .right {
    animation-delay: $rightDelay;
  }

  .base {
    animation-delay: $baseDelay;
  }
}

@keyframes fade {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
