.scheduleItem {
  background: white;
  border-radius: 10px;
  min-height: 300px;
  position: relative;

  a {
    text-decoration: none;
    width: fit-content;
  }
}

.sessionButton {
  height: 45px;
  font-size: 14px;
  font-weight: 800;
  min-width: 120px;
  max-width: 120px;
}

.textBox {
  word-break: break-word;
  white-space: break-spaces;
}

.zooImage {
  position: absolute;
  right: 10px;
  top: 10px;
}
