@import "../../../../style/media-query";

.container {
  border-radius: 10px;

  @media screen and (min-width: #{$tablet-landscape-width + 1}) {
    min-width: 410px;
    max-height: 575px;
    max-width: 410px;
  }
}

.layer {
  overflow: hidden;
  width: 410px;
}

.contentWrapper {
  padding: 0 44px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header {
  position: relative;

  @media screen and (min-width: #{$tablet-landscape-width + 1}) {
    min-width: 410px;
  }

  img {
    width: 100%;
  }
}
