@import "../../../../style/media-query";

.container {
  border-radius: 10px;

  @media screen and (min-width: #{$tablet-landscape-width + 1}) {
    min-width: 410px;
    max-height: 575px;
    max-width: 410px;
  }
}

.contentWrapper {
  padding: 0 56px;
}

.header {
  @media screen and (min-width: #{$tablet-landscape-width + 1}) {
    min-width: 410px;
  }

  img {
    width: 100%;
  }
}

.changeLogContainer {
  max-height: 150px;
  overflow: auto;
  margin-top: 20px;

  ul {
    margin-top: 0px;
  }
}
