@import "../../../../../style/media-query.scss";

.info {
  display: flex;
  padding: 8px 0 22px 0;

  @media screen and (min-width: #{$phone-landscape-width}) {
    border-bottom: 1px solid var(--lightGrey);
  }
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;

  @media screen and (max-width: #{$tablet-portrait-width}) {
    margin: 0;
    padding: 0 20px;
  }
}

.name {
  margin: 0 0 12px 0;
}

.zooNameWrapper {
  margin: 0;
  color: var(--charcoalLight);
  display: flex;
  align-items: center;
  line-height: 22px;

  img {
    max-width: 80px;
    max-height: 38px;
  }
}


.profileImgContainer {
  display: flex;
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  position: relative;
  border-radius: 50%;

  @media screen and (max-width: #{$tablet-landscape-width}) {
    width: 105px;
    height: 105px;
  }

  @media screen and (max-width: #{$phone-landscape-width}) {
    margin-left: 6px;
  }

  .wrapper {
    border-radius: inherit;
    height: 100%;
    width: 100%;
  }

  .imageWrapper img {
    border-radius: 50%;
  }

  .favBtn {
    display: flex;
    position: absolute;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    padding: 10px;
    border-radius: 100%;
    border: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    cursor: pointer;
    z-index: 5;
  }

  &.trailer {
    background: linear-gradient(285deg, rgba(255,165,175, 1) 0%, rgba(255,199,167,1) 50%, rgba(255,163,175,1) 100%);
    cursor: pointer;

    .wrapper {
      display: flex;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      margin: auto;
      border: 4px solid white;

      // Edit image component wrapper
      > div {
        width: 100%;
        height: 100%;

        img {
          max-width: 100%;
        }
      }
    }
  }
}
