.map {
  margin-top: 60px;
  margin-left: auto;
  display: flex;
  overflow: hidden;

  .wrapper {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    height: fit-content;
  }

  .habitat {
    width: 45px;
    height: 45px;
    background-color: green;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;

    a {
      display: block;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  img {
    width: 100%;
  }
}
