.close {
  position: absolute;
  right: 8px;
  top: 8px;
}

.cancelSubscriptionContainer {
  width: 400px;
  padding: 45px 50px;
  position: relative;
  text-align: center;

  h4 {
    margin: 0;
  }

  .text {
    margin: 20px 0 40px 0;
    display: flex;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      min-width: calc(50% - 10px);
    }
  }
}
