@import "../../style/media-query";

.streamContainer {
  flex-grow: 1;
  position: relative;

  @media all and (display-mode: fullscreen) {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
      width: auto !important;
      height: 100vh !important;
    }
  }

  video::-webkit-media-controls-timeline {
    display: none;
  }
}

.loading video::-webkit-media-controls {
  visibility: hidden;
}

.videoContainer {
  position: relative;
}

.timeBar {
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  z-index: 5 !important;
  opacity: .9;
}
