@import "../../style/media-query";

.streamContainer {
  flex-grow: 1;
  position: relative;

  // Hide the Video Loader
  video::-webkit-media-controls {
    visibility: hidden;
  }

  // keep video controls
  video::-webkit-media-controls-enclosure {
    visibility: visible;
  }
}
