@import "../../style/media-query";

.streamContainer {
  flex-grow: 1;
  position: relative;

  video::-webkit-media-controls-timeline {
    display: none;
  }
}

.loading {
  background: red;

  video::-webkit-media-controls {
    visibility: hidden;
  }
}

.videoContainer {
  position: relative;
}

.timeBar {
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  z-index: 5 !important;
  opacity: .9;
}
