@import "../../../style/media-query";


.navItem {
  font-size: 13px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media screen and (max-width: #{$phone-portrait-width} - 1) {

    a {
      padding: 0 !important;
    }

    span {
      display: none;
    }
  }


  a {
    color: var(--grey);
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    min-width: 50px;
    text-align: center;
    text-decoration: unset;
    cursor: pointer;

    svg {
      margin-right: 6px;
    }
  }

  a:hover {
    color: var(--charcoal);
  }
}
