.content {
  overflow: auto;
  min-height: unquote("max(100%, 54px)");
  display: flex;
  flex-direction: column;
}

.tabControls {
  box-shadow: 0 0 5px rgba(41, 31, 31, .5);
}

.tabBtn {
  color: var(--grey);

  &.active {
    color: var(--blueMediumDark);
  }
}
