.chatMessageContainer {
  display: flex;
  color: white;
  margin: 5px 10px;
  min-height: max-content;
}

.messageWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
  word-break: break-all;
  min-height: max-content;
}

.headerWrapper {
  display: flex;
  align-items: center;
}

.userName {
  font-size: 14px;
  font-weight: 600;
}

.message {
  font-size: 13px;
  word-break: break-word;
}

.messageTime {
  font-size: 10px;
  line-height: 16px;
  color: white;
  margin-left: 4px;
  flex-grow: 1;
}

.delete {
  color: white;
  padding-right: 10px;
  font-size: 12px;
  text-align: right;
  cursor: pointer;
}
