@import "../../../../style/media-query.scss";

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (max-width: #{$phone-landscape-width}) {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }
}

.error {
  /* We need to update this when design team have them ready */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--red);
}
