@import "../../style/media-query";

.giftPage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(180deg, #8EC2A5 27.08%, #8BA0D2 100%);

  .contentContainer {
    max-height: calc(100vh - var(--headerHeight));
    margin-top: var(--headerHeight);
    width: 100%;
    height: 100%;
  }

  .contentWrapper {
    max-width: var(--maxWidth);
    display: flex;
    flex-direction: row;
    margin: auto;
    background: linear-gradient(180deg, #FFD1AF 27.08%, #FFDCEE 100%);
    max-height: inherit;
    flex-grow: 1;
    height: 100%;
  }

  .formSection {
    display: flex;
    padding: 25px 12px;
    max-height: inherit;
    overflow: auto;
    flex-grow: 1;
    min-width: fit-content;

    .formWrapper {
      margin: auto;
      min-width: 512px;
    }
  }

  :global {

    .carouselContainer {
      width: calc((100vh - var(--headerHeight)) * .6148);
    }
  }
}


@media screen and (max-width: #{$tablet-portrait-width}) {

  .giftPage {

    .contentWrapper {
      flex-direction: column;
    }

    .formSection .formWrapper {
      width: 100%;
      min-width: unset;
    }

    :global {

      .carouselContainer {
        width: 100%;
        overflow: unset;

        .carouselWrapper {
          padding: 41% 0 0 0 ;
        }
      }
    }
  }
}
