.button {
  font-size: 18px;
  box-shadow: 0 0 0 0 rgba(55, 108, 222, 1);
  transform: scale(1);

  &.animate {
    animation: pulse 1.5s infinite;
  }
}

.mobileButton {
  border-radius: 0;
}

@keyframes pulse {

  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(130, 138, 186, .8);
  }

  70% {
    transform: scale(1.1);
    box-shadow: 0 0 5px 10px rgba(130, 138, 186, .2);
  }

  100% {
    transform: scale(.9);
    box-shadow: 0 0 0 0 rgba(130, 138, 186, 0);
  }
}
