@import "../../style/media-query";

.welcomeWrapper {
  background: linear-gradient(180deg, #FFD1AF 27.08%, #FFDCEE 100%);
}

.imageContainer {
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  padding-top: 100px;

  img {
    max-width: calc(min(50vw, 750px));
    overflow: hidden;
  }
}

.welcomeForm {
  min-width: 440px;
  max-width: 440px;
  padding: 100px 0 0 80px;

}

@media screen and (max-width: #{$tablet-portrait-width}) {

  .welcomeWrapper {
    flex-direction: column;
  }

  .welcomeForm {
    flex-grow: 1;
    padding: 30px 20px;

  }

  .imageContainer {
    align-items: flex-end;
    padding-bottom: 10px;

    img {
      max-width: 75vw;
    }

  }
}

@media screen and (max-width: #{$phone-landscape-width}) {

  .welcomeForm {
    max-width: 100vw;
    min-width: 100vw;
  }
}
