@import "../../style/media-query.scss";

.absoluteClose {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 0;
  z-index: 22;
  height: calc(var(--vh) * 100);
  transform: translateY(-50%) translateX(50vw);

  .close {
    position: absolute;
    top: 34px;
    right: 26px;
    z-index: 2;
    color: white;
  }
}

.title {
  position: absolute;
  top: -15px;
  left: 50%;
  font-weight: bold;
  font-size: 20px;
  transform: translateX(-50%) translateY(-100%);
  z-index: 2;
  color: white;
  width: 100%;
  text-align: center;
}

.shareModalContainer {
  border-radius: 5px;
  background: black;
  overflow: hidden;

  > div {
    border-radius: 5px;
    position: relative;
  }

  .close {
    position: absolute;
    top: 17px;
    right: 17px;
    z-index: 2;
  }

  .shareMedia {
    width: 100%;
    position: relative;

    video,
    img {
      display: flex;
      width: 75vw;
      max-height: 90vh;
    }
  }

  .shareButtons {

    .shareIcon {
      background: none;
      color: white;
      border: 0;
      cursor: pointer;
      font-size: 14px;
      padding: 0 5px;
      margin: 0 2px;
      line-height: inherit;

      &:hover {
        opacity: .7;
      }

      &:disabled {
        cursor: unset;
        pointer-events: none;
      }
    }
  }

  &.mobile {

    img,
    video {
      width: calc(100vw - 30px);
    }

    .footer {
      justify-content: center;
      padding: 8px 15px;

      .shareButtons > * {
        font-size: 25px;
        margin: 0 16px;
      }
    }
  }
}

.footer {
  padding: 6px 15px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 22px;
  color: white;
  justify-content: space-between;
  background-color: var(--hunterGreenMediumLight);
  border-radius: 0 0 5px 5px;

  > div {
    display: flex;
  }
}

.next,
.prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  border: 0;
  background: white;
  opacity: .5;
  color: var(--grey);
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  z-index: 2;

  &:hover {
    opacity: .8;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.prev {
  right: initial;
  left: 16px;
}
