.copyLink {
  font-size: 10px;
}

.tooltip {
  min-height: 50px;
  min-width: 156px;
  margin: 5px auto auto;

  .wrapper {
    padding: 8px;
    font-size: 12px;
    line-height: 18px;
    background: white;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    width: fit-content;
    margin: auto;

    &:before {
      content: "";
      position: absolute;
      right: calc(50% - 5px);
      top: 100%;
      border: 5px solid transparent;
      border-width: 8px 5px 0 5px;
      border-top-color: white;
    }
  }
}
