.chat {
  background-color: var(--hunterGreenMediumLight);
  width: 285px;
  display: flex;
  flex-direction: column;
}

.chatNavigator {
  padding: 0 15px;
  height: 36px;
  font-size: 13px;
  line-height: 36px;
  color: white;
  display: flex;

  > span:first-child {
    margin-right: auto;
  }
}

.nextBtn {
  display: flex;
  align-items: center;

  &[disabled] {
    opacity: .3;
  }
}
