.video {
  position: relative;
  min-height: 140px;

  video {
    max-width: 100%;
    max-height: 100%;
  }
}

.control {
  cursor: pointer;
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: .8;
  transition: opacity .05s ease-in;
}

.pause {
  opacity: .05;

  &:hover {
    opacity: .8;
  }
}

.hidden {
  display: none;
}

.videoLoader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10%;

  svg {
    stroke: white;
  }
}
