@import "../../style/media-query.scss";

@import "./variables";

.page {
  height: calc((var(--vh) * 100) - var(--headerHeight));
  display: flex;
  flex-direction: column;
}

.topSection {
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: fit-content;

  @media all and (display-mode: fullscreen) {
    width: fit-content;
    min-height: 100vh;
    background: black;
  }
}

.contentSection {
  @media all and (display-mode: fullscreen) {
    display: none !important;
  }
}

.middleSection {
  padding: 40px $ypadding;
}

.bottomSection {
  padding: 0 $ypadding;
}

.livestreamWrapper {
  position: relative;
  height: fit-content;
}

@media screen and (max-width: #{$tablet-portrait-width}) {

  .middleSection,
  .bottomSection {
    padding-left: $ypadding / 2;
    padding-right: $ypadding / 2;
  }
}
