@import "../../style/media-query.scss";

@import "./variables";

.page {
  height: calc(100vh - var(--headerHeight));
  display: flex;
  flex-direction: column;
}

.topSection {
  display: flex;
  overflow: hidden;
}

.middleSection {
  padding: 40px $ypadding;
}

.bottomSection {
  padding: 0 $ypadding;
}

@media screen and (max-width: #{$tablet-portrait-width}) {

  .middleSection,
  .bottomSection {
    padding-left: $ypadding / 2;
    padding-right: $ypadding / 2;
  }
}
