@import "../../style/media-query.scss";

.page {
  height: calc((var(--vh) * 100) - var(--headerHeight));
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
}

:global(.fullscreen) {

  :local(.topSection) {
    width: fit-content;
    min-height: 100vh;
    background: black;
  }
}

.topSection {
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: fit-content;
}

:global(.fullscreen) {

  :local(.contentSection) {
    display: none !important;
  }
}

.middleSection {
  padding: 40px;
  background: white;
}

.bottomSection {
  padding: 0 40px;
  background: white;
}

.livestreamWrapper {
  position: relative;
  height: fit-content;
}

@media screen and (max-width: #{$tablet-portrait-width}) {

  .middleSection,
  .bottomSection {
    padding: 23px 21px 0px 21px;
  }
}
