.wrapper {
  min-height: 80px;
  background-color: var(--mossLight);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}


.accordionPlans {
  box-shadow: unset;
  min-height: 80px;
  background-color: var(--mossLight);
  border-radius: 0 !important;

  .animalsImage {
    height: 50px;
    max-height: 50px;
  }


  > button {
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;

    svg {
      position: relative !important;
      background: #F9FCE7;
      color: #477652;
      margin-left: 16px;
      position: static !important;
      min-width: 30px;
      min-height: 30px;
      padding: 6px;
      border-radius: 50%;
      margin-top: 30px;
      // transform: translateY(0%) !important;
    }
  }

  >div {
    border: unset !important;
    background: var(--mossLight);
  }

}
