@import "../../../style/media-query.scss";

.messagesContainer {
  flex-grow: 1;
}

:global(.fullscreen) {

  :local(.chatContainer) {
    display: none !important;
  }
}

.chatHeader {
  display: flex;
  flex-direction: row;
  padding: 10px;
  color: white;
  font-size: 12px;
  line-height: 18px;

  span {
    flex-grow: 1;
  }
}

.chatContainer {
  background: var(--hunterGreenMediumLight);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 8px;

  @media screen and (max-width: #{$tablet-landscape-width}) {
    padding-top: 10px;
  }

  &.alternate:global.customScrollBar::-webkit-scrollbar-thumb {
    background-color: #E7E7E7;
    border: 2px solid white;
  }

  &.alternate {
    background: white;

    * {
      color: #2E2D2D !important;
    }
  }
}
