.emojiContainer {
  max-height: 75vh;
  min-width: 180px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;

  .emojiInner {
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 14px 14px;
    align-items: center;
    min-height: 0;
    border-radius: 10px 10px 0px 0px;
  }

  .close {
    position: absolute;
    right: 2px;
    top: 2px;
    color: black;
    font-size: 12px;
    cursor: pointer;
    border: 0;
    background: none;
    outline: none;
    padding: 4px 8px;
    align-self: center;
  }

  .title {
    padding: 0 10px;
    display: flex;

    span {
      margin: 0;
      text-align: center;
      color: black;
      align-self: center;
      font-size: 8px;
      line-height: 11px;
    }
  }

  .itemsWrapper {
    max-height: 165px;
    margin-top: 10px;
    width: 100%;
  }

  .items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
    column-gap: 15px;
    justify-items: center;
    overflow: visible;

    > div {
      height: 30px;
      width: 100%;

      img {
        cursor: pointer;
        transition: transform .1s ease;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        display: block;

        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }
}

.draggedEmoji {
  position: absolute;
  top: -500px;

  img {
    height: 45px;
  }
}

.emojiBasketTabs {
  background: var(--hunterGreenMediumLight);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, .08);
  padding: 7px;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  align-items: center;
  box-sizing: content-box;

  .tabButton {
    height: 11px;
    background: transparent;
    border: 0;
    outline: none;
    opacity: .5;
    cursor: pointer;
    padding: 0 5px;

    &.active {
      opacity: 1;
    }

    img {
      height: 100%;
    }
  }
}
