.streamControlsWrapper {
  position: absolute;
  height: calc(85%);
  top: 0;
  z-index: 2;
  padding: 0 16px;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  .streamControls {
    position: relative;
    height: 100%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;

    > * {
      margin-top: 25px;
      display: flex;
    }
  }
}

.emojiContainer {
  position: absolute;
  left: 60px;
  bottom: 0%;
}
