@import "../../style/media-query";

.loginSignup {
  display: flex;
  background: white;
  height: 100vh;

  .formSection {
    display: flex;
    flex-direction: column;
    padding: 50px;
    flex-grow: 1;

    > div {
      margin: auto;
      max-width: 458px;
      width: 100%;
    }
  }
}

.carouselContainer {
  width: calc(100vh * .6148);
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  background: black;

  .carouselWrapper {
    padding: 162.6% 0 0;
    width: 100%;
    display: flex;
    position: relative;
  }

  .carouselAbsoluteContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .dots {
    bottom: 20px;

    li {
      display: flex;
      align-items: center;
      height: 10px;
      width: 20px;

      &:not(.react-multi-carousel-dot--active) {
        opacity: .5;
      }

      button {
        border: 0;
        background-color: white;
        width: 10px;
        height: 10px;
      }
    }
  }

  .carousel {
    max-height: 100%;

    li {
      display: flex;

      div {
        width: 100%;
      }
    }

    img {
      width: 100%;
      display: flex;
    }
  }
}


@media screen and (max-width: #{$tablet-portrait-width}) {

  .loginSignup {
    flex-direction: column;
    height: fit-content;
    flex-grow: 1;

    .carouselContainer {
      width: 100%;
      overflow: unset;

      .carouselWrapper {
        padding: 70% 0 0 0 ;
      }
    }

    .formSection {
      width: 100%;
      max-width: unset;
      min-height: fit-content;

      h2 {
        margin: 0;
      }

      > div {
        margin: 0;
      }
    }
  }
}


@media screen and (max-width: 400px) {

  .loginSignup .formSection {
    padding: 20px;
  }
}
