@import "../../style/media-query";

.loginSignup {
  display: flex;
  flex-grow: 1;

  .imageSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    img {
      max-width: 100%;
      height: initial;
      max-height: 100%;
      margin: auto;
    }
  }

  .formSection {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 50px;

    > div {
      margin: auto;
    }
  }
}

@media screen and (max-width: #{$tablet-portrait-width}) {

  .loginSignup {
    flex-direction: column-reverse;

    .imageSection {
      width: 100%;
      min-height: 100vw;
    }

    .formSection {
      width: fit-content;
      max-width: unset;
      min-height: fit-content;
      margin: auto;
    }
  }
}


@media screen and (max-width: 400px) {

  .loginSignup .formSection {
    padding: 50px 20px;
  }
}
