@import "../../style/media-query";

.loginSignup {
  display: flex;
  flex-grow: 1;
  background: white;

  .imageSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    img {
      max-width: 100%;
      height: initial;
      max-height: 100%;
      margin: auto;
    }
  }

  .formSection {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 50px;

    > div {
      margin: auto;
    }
  }
}

.carouselContainer {
  position: relative;
  background-color: transparent;
  user-select: none;

  .dots {
    bottom: 20px;

    li {
      display: flex;
      align-items: center;
      height: 10px;
      width: 20px;

      &:not(.react-multi-carousel-dot--active) {
        opacity: .5;
      }

      button {
        border: 0;
        background-color: white;
        width: 10px;
        height: 10px;
      }
    }
  }

  .carousel {

    li {
      display: flex;

      div {
        width: 100%;
      }
    }

    img {
      width: 100%;
      display: flex;
    }
  }
}


@media screen and (max-width: #{$tablet-portrait-width}) {

  .loginSignup {
    flex-direction: column-reverse;

    .imageSection {
      width: 100%;
      min-height: 100vw;

      &.hideForMobile {
        display: none;
      }
    }

    .formSection {
      width: 100%;
      max-width: unset;
      min-height: fit-content;

      h2 {
        margin: 0;
      }

      > div {
        margin: 0;
      }
    }
  }
}


@media screen and (max-width: 400px) {

  .loginSignup .formSection {
    padding: 20px;
  }
}
