@import "../../style/media-query";

:global(.fullscreen) {

  :local(.header) {
    display: none !important;
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--headerHeight);
  padding: 0;
  background: white;
  box-shadow: 0 0 5px rgba(41, 31, 31, .5);
  z-index: 19;
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    padding-left: 18px;
  }
}

div.searchContainer {
  margin: 0 22px;
  width: unquote("min(calc(100vw - 200px), 254px)"); // 200 is the ~ (menu + logo + margin)
  padding: 0 8px;
}

.navBar {
  display: flex;
  align-items: center;
  user-select: none;
}
