@import "../../style/media-query";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0;
  background: white;
  box-shadow: 0 0 5px rgba(41, 31, 31, .5);
  z-index: 19;
  display: flex;
  justify-content: space-between;

  @media all and (display-mode: fullscreen) {
    display: none !important;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    padding-left: 18px;
  }
}

.desktopSearch {
  margin-left: 15px;
}

.navBar {
  display: flex;
  align-items: center;
  user-select: none;
}
