@import "../../style/media-query";

.favorite {
  height: 100%;
}

.header {
  min-height: unset;
  padding: 35px 35px;

  @media screen and (max-width: #{$phone-landscape-width}) {
    padding: 22px 20px;
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }

  @media screen and (min-width: 1650px) {
    padding: 35px 0;
  }

  h3 {
    min-width: fit-content;
    white-space: nowrap;
    margin: 0;
  }

  span {
    line-height: 16px;
  }

  > div {
    min-height: max-content;
    min-width: auto;
  }
}

.content {
  flex: auto;

  .noContent {
    height: auto;
  }
}

.listItem {
  max-width: 100%;
}
