.navBar {
  display: flex;
  align-items: center;
}

.signUpButton {
  width: 93px;
  height: 33px;
  font-size: 15px;
  line-height: 25px;
  padding: 0px;
  font-weight: bold;
  margin-right: 14px;
}
