:root {
  // Primary
  --turquoise: #09474A;
  --turquoiseLight: #368185;
  --sage: #76ADAA;

  // Accent
  --oceanBlue: #2F64B8;
  --blue: #5260DD;
  --lightBlue: #76A6F2;
  --redDark: #BF3D3F;
  --pink: #F5696B;
  --lightPink: #F9A3A4;
  --deepPink: #CE5BB5;
  --brightPink: #FFA8EC;
  --deepCoral: #DC6128;
  --coral: #FF9665;
  --deepYellow: #F38D00;
  --yellow: #FFB145;
  --limeGreen: #C1E000;

  // Grey scale
  --charcoal: #2E2D2D;
  --charcoalLight: #535353;
  --grey: #535353;
  --mediumGrey: #CDCDCD;
  --lightGrey: #EBEBEB;
  --white: #FFFFFF;

  --headerHeight: 60px
}

html,
body {
  font-family: "Avenir", "Arial", "Roboto", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #FAFAFA;
  color: var(--charcoal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3 {
  font-weight: 700 !important;
}

a {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-decoration-line: underline;
  color: var(--charcoalLight);

  &:hover:not(:disabled) {
    color: var(--charcoal);
  }

  &:active {
    opacity: .8;
  }

  &:disabled {
    color: var(--mediumGrey);
  }
}

@keyframes shimmerAnimation {

  0% {
    background-position: -1200px 0;
  }

  100% {
    background-position: 1200px 0;
  }
}

.shimmer {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmerAnimation;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(270deg, #EBEBEB 0%, #CDCDCD 100%);
  border-radius: 100px;
  background-size: 1200px 100%;
  color: transparent !important;
  border: transparent !important;
  pointer-events: none;

  :disabled:hover {
    color: transparent;
  }

}

.simpleSelect {
  position: relative;

  select {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, .33);
    border-radius: 4px;
    font-weight: 600;
    padding: 11px;
    padding-right: 24px;
    appearance: none;
    width: 100%;
  }

  svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

/*
  Style that looks like grommet input
  This is used mostly for number input since grommet doesn't have that
*/
.simpleInput {
  border: 1px solid rgba(0, 0, 0, .33);
  border-radius: 4px;
  padding: 11px 6px 11px 11px;
}

.customScrollBar {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: white transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid var(--turquoise);
  }

  &.grey::-webkit-scrollbar-thumb {
    background-color: var(--lightGrey);
    border: 2px solid transparent;
  }
}
