.CursorArea {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.CursorsContainer {
  width: 100%;
  height: 100%;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=), none;

  &.clickIndicator {

    &:before {
      content: "Tap to move!";
      position: absolute;
      top: calc(35% - 50px);
      right: calc(30% - 65px);
      padding: 5px;
      color: black;
      background-color: var(--oliveLighter);
      border-radius: 100px;
      font-size: 20px;
      line-height: 28px;
      font-weight: bold;
      min-width: 160px;
      min-height: 28px;
      text-align: center;
    }

    &:after {
      content: "";
      position: absolute;
      top: 45%;
      right: 30%;
      width: 42px;
      height: 42px;
      background: var(--oliveLighter);
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(236, 243, 100, 1);
      transform: scale(1);
      animation: pulse 1.5s infinite;
    }
  }
}

.ownCursor {
  position: absolute;
  width: 45px;
  transform: translate3d(-50%, -78%, 0);
  display: inline-block;
  text-align: center;
  pointer-events: none;
  top: -10px;
  left: -10px;

  .loader {
    margin: auto;
    font-size: 16px;
  }
}

@keyframes pulse {

  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(236, 243, 100, .8);
  }

  70% {
    transform: scale(1.1);
    box-shadow: 0 0 8px 17px rgba(236, 243, 100, .2);
  }

  100% {
    transform: scale(.9);
    box-shadow: 0 0 0 0 rgba(236, 243, 100, 0);
  }
}
