@import "../../style/media-query";

.bottomImage {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
}

.headerImage {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
}

.background {
  background: linear-gradient(180deg, #FFD1AF 27.08%, #FFDCEE 100%);
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.map {
  display: flex;
  flex-grow: 1;
  width: 100%;

  .content {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
  }

}

@media screen and (max-width: #{$tablet-portrait-width}) {

  .map {

    .content {
      flex-direction: column;
      padding: 0 20px;
      align-items: center;
    }
  }
}

.divider::after {
  content: "";
  border-left: 1px solid #EBEBEB;
  height: 100%;
}
