@import "../../style/media-query";

.map {
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(180deg, #FFD1AF 27.08%, #FFDCEE 100%);

  .content {
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    height: 100%;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 380px;

    &.habitatSelected {
      justify-content: start !important;
      margin-top: 25px;
    }
  }

}

.card {
  margin: 0px;
  min-width: 310px;
  max-width: 310px;
  min-height: 340px;
  max-height: 340px;
}

@media screen and (max-width: #{$tablet-portrait-width}) {

  .map {

    .content {
      flex-direction: column;
      padding: 0 20px;
      align-items: center;
    }

    .description {
      display: flex;
      flex-direction: revert;
      max-width: initial;

      > div:first-child {
        padding-right: 20px;
      }
    }
  }
}

.divider::after {
  content: "";
  border-left: 1px solid #EBEBEB;
  height: 100%;
}
