@import "../../style/media-query";

.map {
  min-height: 100%;
  width: 100%;

  .content {
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    height: 100%;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 380px;
  }
}

@media screen and (max-width: #{$tablet-portrait-width}) {

  .map {

    .content {
      flex-direction: column;
      padding: 0 20px;
      align-items: center;
    }

    .description {
      display: flex;
      flex-direction: revert;
      max-width: initial;

      > div:first-child {
        padding-right: 20px;
      }
    }
  }
}
