.shortcuts {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shortcutBtn {
  font-size: 12px;
  line-height: 18px;
}

.divider {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--charcoalLight);;
  margin: 0 10px;
}

.disabled {
  visibility: hidden;
  pointer-events: none;
}
