.Cursor {
  position: absolute;
  transform: translate3d(-50%, -78% , 0);
  pointer-events: none;

  svg {
    width: 45px;

    ellipse {
      animation-name: ellipseExpandFade;
      animation-duration: 3s;
      animation-delay: .4s;
      animation-iteration-count: 1;
      transform-origin: bottom;
      transform: translateY(-12%) scale(0);
    }
  }
}

.hidden {
  display: none;
}

.Clickable {
  cursor: pointer !important;
  pointer-events: all;
}

.emoji {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.cameraPin {
  width: 30px;
  animation: scalePin 1s forwards;
}

.cursorPin {
  position: absolute;
  transform: translate3d(-55%, -100% , 0);

  img {
    animation: scalePin .5s forwards;
  }

}

.clickIndicatorPin {
  border-radius: 50%;
  min-width: 10px;
  height: 10px;
  background: rgba(255,78,216, .6);
  animation: pinPulse 1.2s forwards;
  animation-delay: 125ms;
}

.clickIndicatorPinOtherUser {
  border-radius: 50%;
  min-width: 10px;
  height: 10px;
  background: rgba(255,255,255, .6);
  animation: pinPulseOtherUser 1.2s forwards;
  animation-delay: 125ms;
}

.pulseIndicator {
  min-width: 30px;
}

@keyframes scalePin {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes pinPulse {

  from {
    box-shadow: #FF4ED8 0px 0px 0px 0px;
  }

  to {
    box-shadow: rgba(255, 224, 178, 0) 0px 0px 0px 20px;
  }
}


@keyframes pinPulseOtherUser {

  from {
    box-shadow: rgba(255,255,255, .6) 0px 0px 0px 0px;
  }

  to {
    box-shadow: rgba(255, 224, 178, 0) 0px 0px 0px 20px;
  }
}

@keyframes ellipseExpandFade {

  0% {
    transform: translateY(-12%) scale(0);
  }

  60% {
    opacity: 1;
  }

  90% {
    transform: translateY(0) scale(1);
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
}
