@import "../../../style/media-query";

.searchWrapper {
  border-radius: 50px;
}

.suggestion {
  text-decoration: none;
}

.img {
  width: 30px;
  height: 30px;

  &.liveTalk {
    border: 3px solid var(--oliveMedium);
  }

  &.online {
    border: 3px solid var(--oliveLight);
  }

  &.offline {
    border: 3px solid var(--purple);
    opacity: .6;
  }
}

:global {

  ol[class^="StyledTextInput__StyledSuggestions"] li {
    display: flex;

    img {
      height: 30px;
    }

    a > div {
      width: 100%;
    }
  }
}
