@import "../../../style/media-query";

.searchWrapper {
  border-radius: 50px;

  @media screen and (max-width: 900px) {
    display: none !important;
  }
}

.suggestion {
  text-decoration: none;
}

:global {

  ol[class^="StyledTextInput__StyledSuggestions"] li {
    display: flex;

    img {
      height: 30px;
    }

    a > div {
      width: 100%;
    }
  }
}
