@import "../../../style/media-query";

.searchWrapper {
  border-radius: 50px;

  input::-webkit-input-placeholder,
  input::-moz-placeholder,
  input:-ms-input-placeholder,
  input:-moz-placeholder,
  input::placeholder {
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    color: #CDCDCD;
  }
}

.suggestion {
  text-decoration: none;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.img {
  width: 30px;
  height: 30px;

  &.liveTalk {
    border: 3px solid var(--oliveMedium);
  }

  &.online {
    border: 3px solid var(--oliveLight);
  }

  &.offline {
    border: 3px solid var(--purple);
    opacity: .6;
  }
}

.lock {
  width: 20px;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--oliveLight);
  font-size: 10px;

  div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.offline {
    color: white;
    background: #3B499C;
  }
}

:global {

  ol[class^="StyledTextInput__StyledSuggestions"] li {
    display: flex;

    img {
      height: 30px;
    }

    a > div {
      width: 100%;
    }
  }
}
