.textAreaWrapper {
  position: relative;

  .bottomRight {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.textarea {
  min-width: 100%;
  min-height: 120px;
  padding-bottom: 30px;
}

.form {
  overflow: auto;
  padding: 0 24px;
}

.tagSelect {
  position: relative;

  select {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, .33);
    border-radius: 4px;
    font-weight: 600;
    padding: 11px;
    padding-right: 24px;
    appearance: none;
    width: 100%;
  }

  svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
