.textAreaWrapper {
  position: relative;

  .bottomRight {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.textarea {
  min-width: 100%;
  min-height: 90px;
  padding-bottom: 30px;
}

.form {
  overflow: auto;
  padding: 0 50px;
}
