@import "../../../../../../style/media-query";

input.required {
  border-color: #BF3D3F;
}

div.required {
  min-height: 18px;
}

.required {
  color: #BF3D3F;
  font-size: 12px;
  line-height: 18px;
}

.inputWrapper {
  margin-bottom: 60px;
}

.contentContainer {
  flex-direction: row;
  flex-grow: 1;
  padding: 25px;

  .rightSection {
    width: 290px;
    margin: auto 0 auto auto;
    text-align: center;
    display: flex;
    align-items: center;

    .input {
      margin-top: 40px;
      border-width: 0 0 1px 0;
      border-radius: 0;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      padding-bottom: 4px;

      &::placeholder {
        font-size: 16px;
        color: #CDCDCD;
        text-align: center;
      }
    }

    .submit {
      width: fit-content;
    }
  }

  .leftSection {
    width: 500px;
    margin-right: 60px;

    .videoWrapper {
      width: 100%;
      padding-top: 56.25%;
      position: relative;
      margin-bottom: 10px;

      video {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.shareMedia {
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;

  .facebook,
  .twitter,
  .download,
  .email {
    width: 45px;
    height: 45px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: white;
      opacity: .8;
    }
  }

  .facebook {
    background: #2174EE;
  }

  .twitter {
    background: #1DA1F2;
  }

  .download {
    background: #DC3D7D;
  }

  .email {
    background: #F18C43;
  }
}


.contentShare {

  .leftSection .videoWrapper {
    margin: auto 0;
  }

  .copyText {
    background: #EBEBEB;
    border-radius: 5px;
    position: relative;
    height: 30px;
    display: flex;
    justify-content: center;

    input {
      border: 0;
      padding-right: 90px;
      padding-left: 10px;
      text-overflow: ellipsis;
      background: transparent;
    }

    button {
      position: absolute;
      right: 3px;
      padding: 0 10px;
    }
  }
}

@media screen and (max-width: #{$tablet-portrait-width}) {

  .header {
    padding: 0px;
    justify-content: center;
    align-items: center;
    height: 53px;
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;

    button {
      display: none;
    }
  }

  .contentContainer {
    flex-direction: column;
    padding: 0px;

    .rightSection {
      margin-top: 10px;
      padding: 28px 40px;
      width: 100%;
      text-align: center;
      align-items: center;

      span,
      input {
        font-size: 13px !important;
        line-height: 18px !important;
        font-weight: normal !important;
      }

      input::placeholder {
        font-size: 13px !important;
        color: #CDCDCD;
        text-align: center;
      }
    }

    .rangeInput {
      padding: 0 10px;
    }
  }
}
