@import "../../../../../../style/media-query";

.close {
  position: absolute;
  top: calc(50% - (50 * var(--vh)) + 20px);
  right: calc(50% - 50vw + 20px);
  z-index: 1;
  width: 50px;
  height: 50px;
  background: var(--hunterGreenMediumDark);
  color: white;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.inputWrapper {
  margin-bottom: 60px;
}

.contentContainer {
  flex-direction: row;
  flex-grow: 1;
  padding: 0;

  .rightSection {
    padding: 26px;
    width: 285px;
    margin: auto;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;

    .input {
      margin-top: 40px;
      border-width: 0 0 1px 0;
      border-radius: 0;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      padding-bottom: 4px;
      padding-left: 0;

      &::placeholder {
        font-size: 10px;
        color: #CDCDCD;
      }
    }

    .submit {
      width: fit-content;
    }
  }

  .leftSection {
    background: black;
    width: calc(100vw - 315px);
    justify-content: center;

    .videoWrapper {
      width: 100%;
      padding-top: 56.25%;
      position: relative;

      video {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    .rangeInput {
      position: absolute;
      bottom: 48px;
      right: 10px;
      left: 10px;
      z-index: 2;
    }
  }
}

.shareMedia {
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;

  .facebook,
  .twitter,
  .reddit,
  .download,
  .email {
    width: 45px;
    height: 45px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: white;
      opacity: .8;
    }
  }

  .facebook {
    background: #2174EE;
  }

  .twitter {
    background: #1DA1F2;
  }

  .reddit {
    background: #ff4500;
  }

  .download {
    background: #DC3D7D;
  }

  .email {
    background: #F18C43;
  }
}


.contentShare {

  .leftSection .videoWrapper {
    margin: auto 0;
  }

  .copyText {
    background: #EBEBEB;
    border-radius: 5px;
    position: relative;
    height: 30px;
    display: flex;
    justify-content: center;

    input {
      border: 0;
      padding-right: 90px;
      padding-left: 10px;
      text-overflow: ellipsis;
      background: transparent;
    }

    button {
      position: absolute;
      right: 3px;
      padding: 0 10px;
    }
  }
}

@media screen and (max-width: #{$tablet-portrait-width}) {

  .contentContainer {
    flex-direction: column;

    .leftSection {
      width: 100%;

      .rangeInput {
        position: absolute;
        bottom: -50px;
        right: 24px;
        left: 24px;
      }
    }

    .rightSection {
      padding: 70px 40px 28px 40px;
      width: 100%;

      span,
      input {
        font-size: 13px !important;
        line-height: 18px !important;
        font-weight: normal !important;
      }

      input::placeholder {
        font-size: 13px !important;
        color: #CDCDCD;
      }
    }
  }
}
