@import "../../../style/media-query.scss";

.contactUs {
  color: white;
  text-decoration: underline;

  &:hover {
    color: white !important;
  }
}

.fallbackMessage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.learnText {
  margin-top: 40px;

  @media screen and (max-width: #{$phone-portrait-width}) {
    margin-top: 5px;
  }
}
