@import "../../../style/media-query";

.footer {
  background-color: var(--hunterGreen);
  color: white;
  padding: 112px 90px;
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
  }
}

.subscribe {
  margin-right: 50px;

  h2 {
    margin: 0 0 15px 0;
  }

  .inputContainer {
    position: relative;
    width: 410px;
    height: 58px;
    display: flex;
    align-items: center;
    margin: 50px 0;

    input {
      border: 0;
      height: 100%;
      border-radius: 50px;
      padding: 0 60px 0 25px;
      width: 100%;
      font-size: 18px;
      line-height: 30px;
    }

    button {
      height: inherit;
      min-width: 58px;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .social {
    display: flex;
    margin-bottom: 50px;

    a {
      display: inline-flex;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    svg {
      color: var(--hunterGreenDark);
      background-color: var(--oliveLight);
      width: 47px;
      height: 47px;
      border-radius: 50%;
      padding: 10px;
    }
  }

  .termsAndPolicy a {
    color: white;
    margin-bottom: 15px;
    display: inline-flex;
  }
}

.partners {
  width: 450px;

  img {
    background: white;
    border-radius: 7px;
    padding: 9px 8px;
    margin: 5px;
  }

  h5 {
    margin-top: 0;
  }
}

.error,
.success {
  text-align: center;
  position: absolute;
  bottom: -25px;
  right: 0;
  left: 0;
  color: var(--mossLight);
}

.error {
  color: var(--red);
}

@media screen and (max-width: 900px) {

  .footer {
    text-align: center;
    padding: 102px 36px;

    .top {
      flex-direction: column;
    }

    .subscribe {
      margin: 0;

      .inputContainer {
        margin: 50px auto;
        max-width: 410px;
        width: unset;
      }

      .social {
        justify-content: center;
      }
    }

    .partners {
      margin: 50px auto 40px;
      width: unset;
    }

    .bottom {
      flex-direction: column;

      span:first-child {
        margin-bottom: 20px;
      }
    }
  }
}


@media screen and (max-width: 500px) {

  .footer .subscribe .social {
    justify-content: space-between;

    a {
      margin-right: 0;
    }
  }
}
