.takeSnapshotBtn {
  position: absolute;
  bottom: 75px;
  left: 10px;

  svg {
    transform: translateX(-50%) translateY(calc(-50% - 1px)); // this will make it visually centered
    font-size: 18px;
  }
}
