.onboarding {
  width: 80vw;
}

.onboardingWrapper {
  margin: auto;
  position: relative;
  max-width: calc(1650px * .8);

  video {
    max-height: 80vh;
    width: 100%;
  }
}

button.replayButton {
  border: 1.5px solid var(--blueMediumLight);
  background-color: transparent !important;
  color: white;

  &:hover {
    border: 1.5px solid var(--blueMediumLight);
    background-color: rgba(255, 255, 255, .25) !important;
  }
}

.buttonsWrapper {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 17%;
  z-index: 1;
}
