.liveTalktBar {
  position: relative;
  background: var(--hunterGreenMediumLight);
}

.liveTalkExpandButton {
  background: none;
  border: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px 4px 5px;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;

  span {
    margin-left: 10px;
  }

  svg {
    font-size: 8px;
    margin-right: 4px;
  }
}

.content {
  overflow: hidden;
  max-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 20px;

    a {
      display: flex;
      align-content: center;
      align-items: center;
      flex-direction: column;
      text-decoration: unset;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    span {
      margin-top: 5px;
      color: white;
    }

    span > div {
      padding: 4px 5px;
    }
  }
}

.expandBar {
  background: var(--hunterGreenMediumLight);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 285px;
  left: -285px;
  transition: .5s ease-in-out left;
  z-index: 3;

  &.active {
    left: 0;
  }

  .listWrapper {
    padding: 0 0 0 18px;
    max-height: calc(100% - 39px);

    > div {
      margin: 10px 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
