.test {
  height: 22px;
}

.online,
.online:hover {
  background: var(--red) !important;
  color: white;
}

.offline {
  background: var(--lightGrey);
}

input,
select {
  font-size: 12px;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  flex-grow: 1;
  border: 2px solid #CDCDCD;
  color: #757575;
}

.controlContainer {
  position: absolute;
  left: 6px;
  top: 6px;
  z-index: 3;
}

.fallbackContainer {
  position: absolute;
  left: 0;
  height: 140px;
  width: 100%;
}
