.desc {
  display: flex;
  flex-direction: column;
  color: #2E2D2D;
  padding-top: 22px;

  .wrapper {
    display: flex;
    flex-direction: row;
  }

  svg {
    width: 18px;
    height: 18px;
  }
}

.members {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  line-height: 18px;
}

.text {
  margin-top: 0;
  padding-left: 14px;
  font-size: 13px;
  line-height: 18px;
  color: var(--charcoalLight);
}
