.dateTimePicker {

  :global {

    .react-datetime-picker__wrapper {
      padding: 0 2px 0 10px;
      font-weight: 600;
      border: 1px solid rgba(0, 0, 0, .33);
      border-radius: 4px;
      min-height: 39px;
    }
  }
}
