.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding-top: 40px;
}

.dot {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 2px solid var(--blue);
  background-color: transparent;
  cursor: pointer;

  &.selected {
    border: 0;
    background-color: #FFB145;
    pointer-events: none;
  }
}

.top {
  width: 250px;
  height: 250px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.mobile .wrapper {

  .top {
    width: 100vw;
    height: 100vw;
  }

  h4 {
    font-size: 20px;
  }

  span {
    font-size: 16px;
  }
}
