.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding-top: 40px;
}

.dot {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 2px solid var(--lightBlue);
  background-color: transparent;
  cursor: pointer;

  &.selected {
    border: 0;
    background-color: var(--yellow);
    pointer-events: none;
  }
}

.top {
  width: 250px;
  height: 250px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img {
  max-height: 100%;
  max-width: 100%;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 25px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.text {
  font-size: 15px;
  text-align: center;
  margin: 0;
  line-height: 20px;
}
